modules = ["bash", "nodejs-23", "python-3.11", "python-3.12", "web"]
run = "bash start_service.sh"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "bash start_service.sh"]

[[ports]]
localPort = 8000
externalPort = 80
