modules = ["nodejs", "nodejs-20", "python-3.12", "web"]
run = "bash start_service.sh"

[nix]
channel = "stable-24_05"

[deployment]
run = ["bash", "start_service.sh"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000
